doctype html
html(lang='en')
 head
   title Daily IoT
   <meta name="viewport" content="width=device-width, initial-scale=1">
   style
     include css/login/style.css
 body
   h1 DAILY IOT
   div.log-form
     h2 Login
     div.form
        input#username(type='text' name='username' placeholder='username')
        input#password(type='password' name='password' placeholder='password')
        button#login.btn() Login

   script(type="text/javascript").
     var serverAddr="#{source.publicUrl}";   
   script(type="text/javascript")
     include javascript/login.js 

   include foot.pug
