{{ define "login" }}
<!doctype html>
<html lang='en'>
 {{ template "loginHeader" }}
 <body>
   <h1> DAILY HOME </h1>
   <div class="log-form">
     <h2> Login </h2>
     <div class="form">
	<input id="username" type="text" name="username" placeholder="username">
	<input id="password" type="password" name="password" placeholder="password">
	<button id="login" class="btn">Login</button>
     </div>
   </div>

   {{ template "foot" }}

   <script type="text/javascript">
       var serverAddr="{{ .PublicURL }}";
   </script>
   <script type="text/javascript" src="dhome-gateway?file=login.js"></script>
 </body>
</html>
{{ end }}
