{{ define "profile" }}
<!doctype html>
<html lang="en">

 {{ template "profileHeader" }}

 <body>

   <a class="logout" id="menu" href="#">
	   <h1>DAILY IOT</h1>
   </a>

   <ul class="rolldown-list" id="menuItem">
   	   {{ range $Devicename, $Device := .Devices }}
           <li name="item" value="{{ $Devicename }}">{{ $Devicename }}</li>
           {{ end }}
	   <li name="item" value="logout">logout</li>
   </ul>

   {{ range $Devicename, $Device := .Devices }}
   {{ $containerId := (printf "container@%v" $Devicename) }}
   <div class="container" name="deviceContainer" id="{{ $containerId }}">

	 <div class="holoform" name="device">

	   <span class="status">
	      <label for="{{ $Devicename }}" >{{ $Devicename }}</label>
	      <span>
		  {{ if $Device.State }}
		  <input id="{{ $Devicename }}" type="checkbox" name="status" checked />
		  {{else}}
		  <input id="{{ $Devicename }}" type="checkbox" name="status" disabled />
		  {{end}}
		  <label data-on="ACTIVE" data-off="DISABLE" unreachable="INACTIVE"/>
	      </span>
	   </span>
           <br>

	   <div>

           {{ range $Switch, $State := $Device.Values }}
	   <span class="checkbox">
		   {{ $switchId := (printf "%v@%v" $Switch $Devicename) }}
		   <label for="{{ $switchId }}"> Switch {{ $Switch }} </label>
		   <span>
		       {{ if $State }}
		       <input id="{{ $switchId }}" type="checkbox" name="switch" checked />
		       {{ else }}
		       <input id="{{ $switchId }}" type="checkbox" name="switch" />
		       {{ end }}
		       <label data-on="ON" data-off="OFF"></label>
		   </span>
           </span>
	   {{ end }}

	   </div>


	   {{ if $Device.State }}
           <a name="checkval" href="#" class="checkvalue" value="{{ $Devicename }}">Check Values</a>	   
	   {{end}}

	 </div>
   </div>
   {{ end }}

   {{ template "foot" }}

   <script type="text/javascript">
	var serverAddr={{ .PublicURL }};
   </script>
   <script type="text/javascript">
	var apiToken={{ .Token }};
   </script>
   <script type="text/javascript" src="diot-gateway?file=profile.js"></script>

 </body>

</html>
{{ end }}
